Django>=4.0,<5.0
gunicorn
psycopg2-binary  # If you're using PostgreSQL
djangorestframework  # If you're using Django REST framework
Pillow  # For image processing (if you're using images)
django-environ  # For environment variables
whitenoise  # For serving static files
django-ckeditor  # For CKEditor
django-cloudinary-storage>=0.3.0
django-tinymce>=4.1.0
